/*--------------------Main Page----------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

#map{
    height:100vh;
    width:100vw;
}

#pac-input{
    border: none;
    height: 16px;
    width: 167px;
    text-overflow: ellipsis;
    margin-left: 30px;
}

#pac-input:focus {
    outline: none;
}

.circle{
    height: 50px;
    width: 50px;
    background-color:#4356FF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    border-radius: 50px;
    right: 60px;
    top: 30px;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.circle:hover{
    background-color: #fff;
    color: #4356FF;
}

.circle:active{
    background-color: darkgray;
    color: #808080;
}

.profile a .circle i{
    position:absolute;
    margin-top: 17px;
    margin-left: 17px;
}

.controls{
    margin-top: 80px;
    margin-left: 25px;
    background-color: #fff;
    height: 22px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.controls i{
    color: #4356FF;
    position: absolute;
    margin-top: 3px;
}

.side-menu{
    position: absolute;
    width: 250px;
    height: 500px;
    left: 25px;
    top: 62px;
    background: #4356FF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    text-align: center;
}

nav{
    margin-top: 50px;
    margin-right: 10px;
    position: relative;
}

nav ul{
    display: inline-block; 
	text-align: left;
    font-size: small;
}

nav ul li{
    background-color:  #4356FF;
    padding: 20px;
}

nav ul li a{
    color: #fff;
    display: block;
    transition: all 300ms ease-in-out;
}

nav ul li a:hover{
    background-color:  #fff;
    color:  #4356FF;
    font-weight: bolder;
    padding: 20px;
    border-radius: 24px;
}

nav ul li a:active{
    background-color: darkgray;
    color: #808080;
}

nav ul li a .fa-solid{
    width: 25px;
}

@media only screen and (max-width: 1200px){

}

@media only screen and (min-height: 720px){

}


/*---------------------------Login Page-------------------------------*/
h1{
    font-family: 'Montserrat', sans-serif;
}

.login-body{
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-size: cover;
}

.login-area{
    width: 600px;
    max-width: 600px;
    margin: 1rem;
    padding: 2rem;
    background: #4356FF;
    box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.25);
    border-radius: 24px
}

.form--hidden{
    display: none;
}

.form__title{
    margin-bottom: 2rem;
    text-align: center;
    color: #fff;
}

.form__message{
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success{
    color: #4bb544;
}

.form__message--error{
    color: #cc3333;
}

.form__input-group{
    margin-bottom: 1rem;
} 

.form__input{
    display:block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 24px;
    border: 2px solid #eeeeee;
    outline: none;
    background: #eeeeee;
    transition: background 300ms, border-color 300ms;
}

.form__input:focus{
    border-color: #001eb7 ;
    background: #fff;
}

.form__input--error{
    color: #cc3333;
    border-color: #cc3333;
}

.form__input-error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: #cc3333;
}

.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    border: none;
    border-radius: 24px;
    outline: none;
    cursor: pointer;
    background: #001eb7;
    transition: all 300ms ease-in-out;
}

.form__button:hover{
    background-color: #fff;
    color: #001eb7;
    font-size: 1.105rem;
}

.form__button:active{
    transform: scale(0.98);
    background-color: darkgray;
    color: #808080;
    font-size: 1.1rem;
}

.form__text{
    text-align: right;
    margin-bottom: 1rem;
    font-size: small;
}

.form__text--signUp{
    text-align: center;
    margin-top: 1rem;
    font-size: small;
}

.form__link{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover{
    text-decoration: underline;
}